<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Nurse Ninja</title>
<h2>Your order has been sent successfully.</h2>
</head>
<body>
<form action="C:/Users/anatba/workspace/NNClient_java/order_page.html">
    <input type="submit" value="Place Another Order">
</form>
<br>
<form action="">
    <input type="submit" value="Logout">
</form>
</body>
</html>